<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../static/lib/jquery-3.3.1.js"></script>
</head>
<body>
test2


<script>

    // 每秒发送 60 次 post 内容大致 是 200k  测试性能
    var all = []

    function getStr() {
        var str = ''
        var eng = 'qwertyuiopasdfghjklzxcvbnm'.split("")
        for (var i = 0; i < 6000000; i++) {
            str = eng[Math.floor(Math.random() * 26)] + str
        }
        return str
    }


    var idx = 0
    var localStr = getStr()

    function post(id, cont) {
        delete all[0]
        all = all.splice(1, all.length)
        idx = idx + 1
        if (all.length > 0) {
            isBegin = true
            post(idx, all[0])
        } else {
            isBegin = false
        }
    }

    var FPS = 1 //使用30 fps 比较合适  直接能成功 todo 测试 两台电脑直接的 通讯

    var isBegin = false
    var time = new Date()
    console.log("开始时间 " + time.getSeconds() + "s")

    var old = 0
    var timer
    var count = 0
    var begin = function () {
        timer = setInterval(function () {
            all.push(getStr())
            count++
            if (!isBegin) {
                post(0, all[0])
            }
            if (count % 60 === 0) {
                console.log("运行时间 " + new Date().getSeconds() + " 秒")
                console.log("数量差值 " + (count - old) + " 次数")
                old = count
            }
        }, 1000 / FPS)
    }


</script>
</body>
</html>